# CentOS Server 8
# Kickstart Generator: https://access.redhat.com/labs/kickstartconfig/

install
eula --agreed
lang en_US
keyboard us
timezone UTC
rootpw $6$xyz$dMZVYC3NvEzOI9wOZE2/cJ5U --iscrypted
user --name=ansible --groups=wheel --iscrypted --password=$6$xyz$zo5P0PJX6EF4svFyt61
cdrom
reboot --eject
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
autopart
clearpart --all --initlabel
auth --passalgo=sha512 --useshadow
network --bootproto=dhcp
firewall --enabled --ssh
skipx
selinux --enforcing
firstboot --disable
services --enabled=NetworkManager,sshd
%post
yum install -y sudo open-vm-tools perl
echo "ansible ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/ansible
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
%packages
@^server-product-environment
%end